.title-lg{
    font-weight: bold;
    font-size: xxx-large;
}
.margin-horizontal{
    margin-left: 2px;
    margin-right: 2px;
}
.poster {
    opacity: 0.9;

    width: 18%;

    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.poster.card {
    max-width: 18%;
}

.button-fixed-width{
    width: 175px;
}

/* Styles for the background image */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.image-blur {
    filter: blur(10px);
}

.background{
    z-index: -1;
}

.container-gray{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-nav{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-gray-transp{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.height-full{
    height: 100%;
    width: 100%;
}

.card-img-container {
    position: relative;
    overflow: hidden;
}
.card-img-overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
}
.card-img-container:hover .card-img-overlay {
    opacity: 1;
}

.container-box {
    position: relative;
    height: 100%;
}

.fade-container {
    top: 0;
    position: absolute;
    width: fit-content;
    height: fit-content;
}

.fade-effect {
    position: absolute;
    background: linear-gradient(to bottom, transparent 70%, whitesmoke 90%);
    width: 100%;
    height: 100%;
}
.fade-effect-right {
    position: absolute;
    background: linear-gradient(to right, transparent 80%, whitesmoke);
    width: 100%;
    height: 100%;
}
.fade-effect-left {
    position: absolute;
    background: linear-gradient(to left, transparent 80%, whitesmoke);
    width: 100%;
    height: 100%;
}

.scrollableDiv {
    overflow-y: auto;
    max-height: 82vh;  /* Ajustar según necesidades */
}

.fullHeightDiv {
    height: 88vh;
    min-height:600px ;
}

.filter-width{
    width: 150px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.thirty-width{
    width: 40%;
    min-width: 300px;
}

.seventy-width{
    width: 60%;
}

.scrollableMedia {
    overflow-y: auto;
    max-height: 200px;
}

.cropCenter{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.cropCenterImage {
    object-fit: cover;
    object-position: center;
    width: 8rem;
    height: 9rem;
}

.cropCenterLanding {
    object-fit: cover;
    object-position: center;
    max-width: 12rem;
    height: 32vh;
}

.cardBodyFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.createListInput{
    border-radius: 5px;
    border: 1px solid black;
    resize: none;
    padding: 10px;
    font-size: 1em;
}

.error{
    color: red;
}


.page-background {
    animation: theme 8s linear infinite;
    position: relative;
}

.page-background::before,
.page-background::after {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.02);
    animation: background 45s linear infinite;
}

.page-background::after {
    left: 15%;
    animation-delay: -30s;
    animation-direction: reverse;
}

@keyframes theme {
    0%, 100% {
        background: white;
    }

    25% {
        background: lightgray;
    }

    50% {
        background: azure;
    }

    75% {
        background: ghostwhite;
    }
}

@keyframes moveGrass {
    0% { transform: translateX(-10%); }
    100% { transform: translateX(
            10%); }
}

@keyframes moveGrassAlt {
    0% { transform: translateX(-15%); }
    50% {transform: translateX(25%);}
    100% { transform: translateX(-15%); }
}

.grassImage {
    position: relative;
    bottom: -33%;
    /*width: 700%;*/
    overflow: hidden;
    z-index: -1;
    animation: moveGrass 10s linear infinite;
}
.grassImageAlt {
    position: relative;
    bottom: -33%;
    /*width: 700%;*/
    overflow: hidden;
    z-index: -2;
    /*animation: moveGrass 4s linear infinite;*/
}




@keyframes background {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
