.header {
    color: white;
    background-color: #333;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
    text-align: center; /* Center-align the header */
}

.header h1,
.header h3,
.header h4 {
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    text-align: center; /* Center-align the text */
    max-width: 100%; /* Ensure the text does not exceed the width of the header */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1005); /* Adjust values as needed */
}


.header .d-flex.flex-column {
    max-width: 100%; /* Adjust max-width as needed */
}

.table td {
    padding: 0; /* Reduce padding for the second column */
    vertical-align: middle; /* Center the content vertically */
    font-size: x-large;
    text-align: center;
}

.table td:nth-child(2) {
    text-align: left; /* Left-align the second column Title */
}

.table thead {
    font-size: x-large;
    text-align: center;
}

.buttons {
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}


.progress {
    margin-bottom: 10px;
}