<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    .media-container {
        display: flex;
        align-items: center;
    }
    .media-container img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
</style>
<body th:style="'font-family: Arial, sans-serif; background-color: #f4f4f4;'">
<div th:style="'max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);'">

    <div th:class="container">
        <div class="media-container">
            <img th:style="'width:40px;height:40px;margin-right:10px;'" th:src="@{https://64.media.tumblr.com/41d36d56cc6f1cb18f71f8758d804084/fd6f2186ad840a10-43/s540x810/d1831360ce15f4e26c55659ce8d065ff311fb6c3.png}" alt="Logo">
            <h1 th:style="'margin: 10px;'" th:text="#{email.logo}"></h1>
        </div>
    </div>

    <p th:text="#{email.unbannedStartingMessage (${username})}"></p>

    <p th:text="#{email.unbannedFollowingMessage}"></p>

    <a th:href="@{http://pawserver.it.itba.edu.ar/}" th:text="#{email.unbannedCta}" th:style="'display: inline-block; padding: 10px 20px; background-color: green; color: #fff; text-decoration: none; border-radius: 5px; margin-top: 10px;'"></a>

</div>
</body>